html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}


.product-detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  flex: 1 1 350px;
  text-align: center;
}

.product-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: contain;
}

.product-info {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.product-info h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.product-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.add-to-cart-btn {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background-color: #2e7d32;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-start;
  transition: background 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #1b5e20;
}

.loading {
  text-align: center;
  padding: 3rem;
  font-size: 1.5rem;
  color: #777;
}

.product-info .product-title {
  color: black;
}

.product-detail .product-info .price {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    padding: 1rem;
  }

  .product-info h2 {
    font-size: 1.5rem;
  }

  .add-to-cart-btn {
    width: 100%;
    text-align: center;
  }
}